@using CO550_Project_Razor.Models
@using C0550_Project_MVC.Controllers
@using System.Web;
@using CO550_Project_MVC.Models

@{
    ViewData["Title"] = "Bookings";
}


<h1 style="text-align:center;">Your Bookings</h1>


@{
   

}





